@font-face {
  font-family: 'Canaro';
  src: url('./assets//fonts/Canaro_Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Canaro';
  src: url('./assets/fonts/Canaro_Book.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Canaro';
  src: url('./assets/fonts/Canaro_SemiBold.ttf') format('truetype');
  font-weight: 400; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Canaro';
  src: url('./assets/fonts/Canaro_Bold.ttf') format('truetype');
  font-weight: 600; /* Thin */
  font-style: normal;
}

body {
  font-family: 'Canaro', sans-serif;
}

.container {
  @apply m-auto max-w-screen-xl p-4
}

.take-action-page-red{
  background: #b71d24;
}

.take-action-page{
  position: relative;
  height: 100vh;
}

.mobile-image-inherit{
  height: inherit;
}

.red-nav-bg{
  background: #b71d24;
  height: 8rem;
}

.trans-nav-bg-fixed{
  position: fixed !important;
}

.no-red-nav-bg{
  position: fixed !important;
  background: transparent !important;
}

.breaking-position{
  position: absolute;
  top: 37%;
  right: 10rem;
}

.manifesto-bg{
  background-color: #000000de;
}

.page-text-alt{
  color: #000 !important;
}

.page-text{
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}

.manifesto-p {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.policy-header{
  font-size: 6rem;
  color: #fff;
  position: absolute;
  font-weight: 600;
  bottom: 5rem;
  left: 5rem;
}

.policy-header-sub{
  font-size: 2rem;
  color: #fff;
  position: absolute;
  font-weight: 600;
  bottom: 2rem;
  left: 16rem;
}

.manifesto-p-alt{
  color: #000;
}

.nav-bg{
  position: relative;
  top: 0;
  z-index: 11;
  width: 100%;
}

.the-idea-text{
  color: #009844;
  font-weight: 900;
  font-size: 24px;
}

.policy-banner-img{
  border-radius: 15px;
  width: 80%;
}

.active-nav-text{
  border-bottom: solid 1px black
}

.alt-nav-text {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 0px;
  padding-left: 20px;
}

.alt-nav-text::after {
  content: '';
  position: absolute;
  border-radius: 15px;
  width: 45%;
  height: 3px;
  bottom: 5px;
  left: 20%; /* Center the underline */
  background-color: #009844;
  transform-origin: center;
}

.ug-speech-img{
  margin-left: 10rem;
  width: 35rem;
  height: 70vh;
}

.ug-speech-bg{
  background-color: #ebf8f8;
}

.breaking-img-width{
  width: 40rem;
}

.text-lg{
  font-size: 1rem !important;
  line-height: 1.75rem !important;
}

.font-normal{
  font-weight: 600 !important;
}

.nav-text {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 0px;
  padding-left: 20px;
}

.nav-text::after {
  content: '';
  position: absolute;
  border-radius: 15px;
  width: 45%;
  height: 3px;
  bottom: 5px;
  left: 20%; /* Center the underline */
  background-color: #b91f26;
  transform-origin: center;
}

.take-p{
  font-weight: 100;
  font-size: 16px;
  text-align: end;
  width: 20rem;
}

.take-p-color{
  color: #fff;
}

.take-p-alt{
  text-align: start !important;
}

.home-p{
  margin-top: 2rem;
  font-weight: 100;
  font-size: 16px;
}

.take-p-footer{
  color: #b71d24;
  font-size: 14px;
  font-weight: 400;
}

.take-action-p{
  margin-top: 1rem;
  font-weight: 900;
  font-size: 44px;
  color: #b91f26;
}

.home-p-alt{
  font-weight: 400;
  font-size: 24px;
  color: #b91f26;
}

.header-text-sub-alt{
  text-align: end !important;
}

.header-text-sub-alt-2{
  text-align: start !important;
}

.header-text-sub-green{
  color: #009844 !important;
}

.img-opacity{
  opacity: 0.4;
}

.header-text-sub-alt-size{
  font-size: 2.3rem !important;
}

.header-text-sub{
  color: #b91f26;
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  text-align: justify;
  line-height: 30px;
}

.header-text{
  font-size: 2.5rem;
  font-weight: 600;
}

.header-text-sub-mobile {
  color: #b91f26;
  font-size: 18px;
  font-weight: 600;
  width: 64%;
  text-align: justify;
  line-height: 22px;
}

.header-text-mobile{
  font-size: 21.5px;
  font-weight: 600;
}

.socials-position{
  position: absolute;
  left: 10rem;
  bottom: 2rem;
}

.icon-color{
  color: #fff;
}

.text-position {
  position: absolute;
  top: 12rem;
  width: 40%;
  left: 10rem;
  z-index: 9;
}

.button-primary-alt{
  background-color: #009844 !important;
}

.bio-header{
  font-size: 48px;
  color: #fff;
  font-weight: 600;
}

.bio-header-sub{
  font-size: 32px;
  color: #009844;
  font-weight: 600;
}

.red-footer-bg{
  background: #b71d24;
}

.bio-p{
  margin-top: 2rem;
  color: #fff;
  font-size: 18px;
  text-align: justify;
  width: 90%;
  font-weight: 100;
}

.button-primary-text{
  font-size: 24px !important;
  padding: 15px 35px !important;
}

.button-primary {
  width: fit-content;
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: #b91f26;
  color: #fff;
  font-size: 16px;
  line-height: 17.41px;
  font-weight: 900;
  text-transform: none;
  z-index: 9;
}

.button-green-primary {
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: #009844;
  width: fit-content;
  color: #fff;
  font-size: 24px;
  line-height: 17.41px;
  font-weight: 900;
  text-transform: none;
  z-index: 9;
}

.home-h{
  height: 100vh;
}

.no-scroll{
  overflow-x: hidden;
}

.home-banner-alt {
  position: absolute;
  top: 170px;
  left: 30px;
}

.take-action-page-padding-alt{
  padding-left: 2.5rem;
}

.take-action-page-padding{
  padding-right: 2.5rem;
}

.vote-for-ug{
  position: absolute;
  bottom: 2rem;
  right: 20rem;
  width: 50%;
  z-index: 99;
}

.take-banner-alt {
  position: absolute;
  top: 90px;
  left: 350px;
}

.hero-width{
  width: 30%;
}

.home-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  background-image: url('./assets/backgroud.png');
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-banner-user {
  position: absolute;
  bottom: 0;
  left: 35rem;
}

.custom-user-height{
  height: 60rem;
}

.about-body-bg{
  background: #b91f26;
}

.alt-body-bg{
  background: #fff;
}

.mobile-card-bg{
  background: #b71d24;
  padding: 1rem;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 15px;
}

.mobile-nav-bg {
  background: #000000e6;
  height: 650px;
  border-radius: 0px 0px 20px 20px;
  top: 0;
  position: absolute;
  width: -webkit-fill-available;
  color: white;
  z-index: 9
}

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  border-radius: 5px;
  position: fixed;
  width: 55%;
  height: auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal-header{
  display: flex;
  align-items: end;
  justify-content: end;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.content-media-frame{
  width:100%; height:600px; border:0;
}

/* Extra Small devices (phones, 0px and up) */
@media (max-width: 768px) {
  /* Your styles for extra small devices */
  .text-position {
    position: absolute;
    top: 15rem;
    width: 92%;
    left: 1rem;
    z-index: 9;
  }

  .socials-position{
    position: absolute;
    left: 1rem;
    bottom: 2rem;
  }

  .red-nav-bg {
    height: 5rem;
  }

  .bio-p{
    padding: 1rem;
    width: 100%;
    margin-top: 0;
  }

  .take-action-p{
    font-size: 40px;
  }

  .bio-header{
    margin-left: 1rem;
  }

  .bio-header-sub{
    margin-left: 1rem;
    font-size: 24px;
    color: #009844;
    font-weight: 600;
    line-height: 28px;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
  /* Your styles for small devices */
  .text-position {
    position: absolute;
    top: 12rem;
    width: 40%;
    left: 2rem;
    z-index: 9;
  }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  /* Your styles for medium devices */
  .text-position {
    position: absolute;
    top: 25rem;
    width: 40%;
    left: 2rem;
    z-index: 9;
  }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  /* Your styles for large devices */

}

/* Extra large devices (extra large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Your styles for extra large devices */

}

.portrait-warning{
  display: none;
}

/* Styles for portrait mode */
@media screen and (max-width: 768px) and (orientation: landscape) {
  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  } */

  .portrait-warning {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1); /* Dark background */
    color: white;
    text-align: center;
    z-index: 9999; /* Ensure it's above all other content */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

.scrollable-div {
  height: 30rem;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
  position: relative;
}
/* 
.text-wrap{
  text-wrap: wrap
} */

.scrollable-div::-webkit-scrollbar {
  width: 10px;
  padding-left: 5rem;
	background-color: #fff;
}

.scrollable-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff ;
	border-radius: 10px;
  width: 30rem !important;
	background-color: #fff  ;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.scrollable-div::-webkit-scrollbar-thumb {
  border-radius: 20px;
	-webkit-box-shadow: inset 0 0 px #b71d24 ;
	background-color: #b71d24;
  padding-top: 20px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background-color: #b71d24;
}

.manifesto-header-sub {
  color: #fff !important;
}

.manifesto-header{
  font-weight: 900;
  font-size: 45px;
  margin-top: 2rem;
  color: #b71d24;
  margin-bottom: 2rem;
  line-height: 46px;
  text-wrap: wrap
}

.support-text-alt{
  color: #fff !important;
}

.support-text{
  font-weight: 400;
  font-size: 24px;
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
  line-height: 30px;
  text-wrap: wrap
}

.scrollable-div::-webkit-scrollbar:vertical {
  display: block;
}

.accordion-border {
  border: solid 2px gray;
  padding: 1rem;
  border-radius: 5px;
}

.accordion-body-bg{
  background: #ececec;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 10px;
}