@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Canaro';
    src: url('../public/fonts/Canaro_Book.ttf');
    font-weight: normal;
    font-style: normal;
  }